<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="col-sm-12 text-center">
            <div class="input-group mt-5">
                <input class="form-control" type="text" #userInput placeholder="Enter City Name">
                <div class="input-group-append">
                    <button class="input-group-text btn btn-outline-primary" (click)="getCity(userInput.value)">Click</button>
                </div>
                </div>
                <br>
            <h4> Weather Update - Anywhere - Anytime </h4>
            <br>
            <h2>Weather in {{weather.name}}  </h2>
        </div>
        

<table class="table table-light table-striped table-bordered table-sm">
    <tbody>
        <tr>
            <td>Humidity</td><td>{{weather.main.humidity}} %</td>
        </tr>
        <tr>
            <td>Pressure</td><td>{{weather.main.pressure}} hpa</td>
        </tr>
        <tr>
            <td>Sunrise</td><td>{{weather.sys.sunrise * 1000 | date:'H:mm' }} </td>
        </tr>
        <tr>
            <td>Sunset</td><td>{{weather.sys.sunset * 1000 | date:'H:mm' }}  </td>
        </tr>
        <tr>
            <td>Geo coordinates</td><td>[{{weather.coord.lat}}, {{weather.coord.lon}}]</td>
        </tr>

    </tbody>
</table>
</div>

</div>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://github.com/mjrooney7"> Manojkumar R [MaximL round 2]</a>
    </div>
    <!-- Copyright -->
  
  </footer>

